:root {
  --primary-color: #6a0dad;
  --secondary-color: #8c6bef;
  --text-color: #ffffff;
  --hover-color: #d000ff;
  --transition: all 0.3s ease;
}

.navbar {
  width: 100%;
  padding: 15px 30px;
  box-sizing: border-box;
  box-shadow: 0 4px 20px rgba(106, 13, 173, 1);
  position: sticky;
  top: 0;
  z-index: 100;
  /*background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));*/
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  color: var(--text-color);
  list-style-type: none;
  padding: 0;
}

.title {
  margin-right: auto;
  letter-spacing: 2px;
  font-size: 1.8em;
  font-weight: 800;
  color: var(--text-color);
  text-transform: uppercase;
  transition: var(--transition);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.title:hover {
  color: var(--hover-color);
  transform: scale(1.05);
}

.list {
  display: flex;
  gap: 30px;
}

.navbar button,
.navbar a {
  margin-left: 20px;
  padding: 12px 20px;
  font-size: 1em;
  font-weight: 600;
  border: none;
  color: var(--text-color);
  border-radius: 30px;
  cursor: pointer;
  transition: var(--transition);
  text-decoration: none;
  letter-spacing: 0.5px;
}

.navbar a {
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.navbar a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--hover-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar a:hover::after {
  transform: scaleX(1);
}

.navbar a:hover,
.navbar button:hover {
  color: var(--hover-color);
  transform: translateY(-3px);
  box-shadow: 0 4px 15px rgba(106, 13, 173, 0.2);
}

.navbar button {
  background-color: var(--secondary-color);
}

.navbar button:hover {
  background-color: var(--hover-color);
  color: var(--text-color);
}

@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .list {
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
  }

  .navbar button,
  .navbar a {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
}