.message {
  display: flex;
  justify-content: center;
  max-width: 360px;
  margin: 150px auto;
  padding: 20px;
  padding-right: 35px;
  border: 3px solid rgb(231, 105, 105);
  border-radius: 10px;
  font-size: 25px;
}