:root {
  --background-light: #ffffff; /* White background for the page */
  --background-dark: #0b0c10; /* Dark space background for the body */
  --box-background: #d4eaf2; /* Light blue background inside the box */
  --text-gradient-start: #add8e6; /* Very light blue */
  --text-gradient-end: #ffffff; /* White */
  --border-color: #0b0c10; /* Glowing border effect in orange */
}

body {
  background: var(--background-dark);
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.community-feed {
  background: var(--box-background);
  padding: 20px;
  border-radius: 10px;
  color: var(--text-gradient-end); /* Default text color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border: 1px solid var(--border-color);
}

.feed-item {
  margin-bottom: 20px;
  padding: 15px;
  background: rgb(218, 241, 249); /* Slightly transparent background for cosmic feel */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feed-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.feed-item h3 {
  margin: 0;
  font-size: 1.5em;
  background: linear-gradient(45deg, var(--text-gradient-start), var(--text-gradient-end)); /* Gradient background for text */
  -webkit-background-clip: text; /* Apply gradient to text */
  -webkit-text-fill-color: transparent; /* Make text color transparent to show gradient */
  background-clip: text;
  
}

.feed-item p {
  margin-top: 5px;
  line-height: 1.6;
  color: gray;
  font-size: 20px;
}

